<h1>Board</h1>

<ul class="posts">
  <%= link_to 'Add Post', new_post_path %>
  <% @posts.reverse.each do |post| %>
    <li class="post">
      <div class="row">
        <div class="span1"><h2>#<%= post.id %></h2></div>
        <div class="span9"><%= post.content %></div>
        <div class="span2 post-timestamp"><%= post.created_at %></div>
      </div>
    </li>
  <% end %>
</ul>
